<nav class="navbar navbar-expand navbar-dark custom-dark-nav mb-4">
  <div class="container justify-content-center">
    <ul class="navbar-nav flex-row flex-wrap justify-content-center align-items-center">
      <li class="nav-item mx-2">
        <a class="nav-link" href="{% url 'game_manager:home-page' %}">Home</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="{% url 'game_manager:adventure-list' %}">All adventures</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="{% url 'game_manager:master-list' %}">All masters</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="{% url 'game_manager:player-list' %}">All players </a>
      </li>

      {% if user.is_authenticated %}
        <li class="nav-item mx-2 text-light align-self-center">
          User: {{ user.username }}
        </li>
        <li class="nav-item mx-2">
          <form method="post" action="{% url 'logout' %}" class="form-inline d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-light">Log out</button>
          </form>
        </li>
      {% else %}
        <li class="nav-item mx-2">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
