{% extends "base.html" %}

{% block content %}
  <h1>{{ adventure.name }} (started at {{ adventure.start_date }})</h1>
  <p>Description: {{ adventure.description }}</p>
  <p>Difficulty: {{ adventure.difficulty }}</p>
  <hr>
  <h3>Master: {{ adventure.master.username }}</h3>
  <h3>Players:</h3>
  <ul>
    {% for player in adventure.players.all %}
      <li>{{ player.username }}</li>
    {% empty %}
      <li>No players in this adventure yet.</li>
    {% endfor %}
  </ul>
  {% if user == adventure.master %}
    <a href="{% url 'game_manager:adventure-update' pk=adventure.id %}">UPDATE</a>
    <a href="{% url 'game_manager:adventure-delete' pk=adventure.id %}">DELETE</a>
  {% endif %}
{% endblock %}